.App {
    position: relative;
}

.main-control {
    width: 28%;
    height: 100vh;
    min-width: 300px;
    background-color: #0b0c10;
    position: relative;
}

button {
    padding: 0;
}

.icon {
    width: 29px;
}

header {
    width: 100%;
}

header h1 {
    width: 75%;
    margin: 0 auto;
    padding: 40px 0 15px 0;
    font-size: 2.5rem;
    color: #46a09e;
}

.one-line-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.one-line-form input, .one-line-form button {
    background-color: #202833;
    border: 1px solid #c5c6c8;
}

.one-line-form input {
    margin: 0;
    width: 55%;
    height: 30px;
    border-right: 0;
    border-radius: 20px 0 0 20px;
    padding-left: 15px;
    color: #c5c6c8;
}

.one-line-form input:focus {
    outline: none;
}

.one-line-form button {
    border-left: 0;
    border-radius: 0 20px 20px 0;
    padding-right: 5px;
}

.one-line-form button:hover {
    cursor: pointer;
}

.todo-list {
    margin: 20px 30px;
    max-height: 60%;
    overflow-y: scroll;
    border-radius: 10px;
    scrollbar-width: thin;
    scrollbar-color: #202833 transparent;
}

.todo-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 40px;
    background-color: #202833;
    border: 1px solid #0b0c10;
}

.todo-list-item button {
    background-color: #202833;
    border: 0;
}

.todo-list-item .icon {
    width: 20px;
}

.new-list {
    width: 90%;
    height: 61.11px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #202833;
    border-radius: 25px 20px 0 0;
    border: 2px solid #0b0c10;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: height 1s ease;
}

.new-list .icon {
    width: 20px;
}

.new-list:hover {
    height: 110px;
}

.form-add-list {
    margin-bottom: -35px;
}

.form-add-list input, .form-add-list button {
    background-color: #0b0c10;
    border: 0;
}

.form-add-list button {
    padding: 4.5px 8px 4.5px 0;
}

.new-list:hover .new-list-button .icon {
    animation: rotateIcon 1s linear;
}

@keyframes rotateIcon {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.new-list-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.new-list-button:hover {
    cursor: default;
}

.new-list-button .icon {
    margin-left: 20px;
}

.message-error {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #46a09e;
    width: 30%;
    min-width: 300px;
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-radius: 10px;
    font-weight: bold;
}

.message-error p:hover {
    cursor: default;
}

.message-error button {
    background-color: #46a09e;
    border: 0;
}

.message-error button:hover {
    cursor: pointer;
}