.App {
    position: relative;
    display: flex;
}

.side-control-menu {
    width: 28%;
    height: 100vh;
    min-width: 300px;
    background-color: #0b0c10;
    position: relative;
}

button {
    padding: 0;
}

.icon {
    width: 29px;
}

header {
    width: 100%;
}

header h1 {
    width: 75%;
    margin: 0 auto;
    padding: 40px 0 15px 0;
    font-size: 2.5rem;
    color: #46a09e;
}

.one-line-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.one-line-form input, .one-line-form button {
    background-color: #202833;
    border: 1px solid #c5c6c8;
    height: 33.6px;
}

.one-line-form input {
    margin: 0;
    width: 55%;
    height: 30px;
    border-right: 0;
    border-radius: 20px 0 0 20px;
    padding-left: 15px;
    padding-right: 0;
    color: #c5c6c8;
}

.one-line-form input:focus {
    outline: none;
}

.one-line-form button {
    border-left: 0;
    border-radius: 0 20px 20px 0;
    padding-right: 5px;
}

.one-line-form button:hover {
    cursor: pointer;
}

.form-search button:hover {
    cursor: default;
}

.list-container {
    margin: 20px 30px;
    max-height: 65vh;
    overflow-y: scroll;
    border-radius: 10px;
    scrollbar-width: thin;
    scrollbar-color: #202833 transparent;
}

.item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 40px;
    background-color: #202833;
    border: 1px solid #0b0c10;
}

.item-container:hover {
    background-color: #282f38;
}

.item-container:hover button {
    background-color: #282f38;
}

.item-container button {
    background-color: #202833;
    border: 0;
}

.item-container button:hover {
    cursor: pointer;
}

.item-container .icon {
    width: 10px;
}

.new-category {
    width: 90%;
    height: 61.11px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #202833;
    border-radius: 25px 20px 0 0;
    border: 2px solid #0b0c10;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: height 1s ease;
}

.new-category .icon {
    width: 20px;
}

.new-category:hover {
    height: 110px;
}

.form-add-category {
    margin-bottom: -35px;
}

.form-add-category input {
    padding: 0;
    padding-left: 15px;
}

.form-add-category input, .form-add-category button {
    background-color: #0b0c10;
    border: 0;
    height: 33.6px;
}

.new-category:hover .new-category-button .icon {
    animation: rotateIcon 1s linear;
}

@keyframes rotateIcon {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}

.new-category-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.new-category-button:hover {
    cursor: default;
}

.new-category-button .icon {
    margin-left: 20px;
}

.main-control {
    position: relative;
    min-width: 600px;
    flex-grow: 1;
}

.main-control h2 {
    font-size: 2.3rem;
    font-weight: 300;
    padding: 0 100px;
    color: #46a09e;
}

.pending-list {
    max-height: 70vh;
    scrollbar-color: #0b0c10 transparent;
}

.pending-item {
    background-color: #0b0c10;
    border: 1px solid #202833;
}

.pending-item button {
    background-color: #0b0c10;
}

.pending-item:hover, .pending-item:hover button {
    background-color: #15161a;
}

.completed-item, .completed-item button {
    background-color: #0b1919;
    border: 0;
}

.completed-item:hover, .completed-item:hover button {
    background-color: #112727;
    border: 0;
}

.completed-item p {
    text-decoration-line: line-through;
}

.form-add-pending {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin: 20px 0;
}

.form-add-pending input, .form-add-pending button {
    background-color: #0b0c10;
    border: 0;
    height: 43.6px;
}

.form-add-pending input {
    width: 70%;
    padding: 0;
    padding-left: 15px;
    border-radius: 10px 0 0 10px;
}

.form-add-pending button {
    border-radius: 0 10px 10px 0;
}

.message-error {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #46a09e;
    width: 30%;
    min-width: 300px;
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-radius: 10px;
    font-weight: bold;
}

.message-error p:hover {
    cursor: default;
}

.message-error button {
    background-color: #46a09e;
    border: 0;
}

.message-error button:hover {
    cursor: pointer;
}